extends layout 

block content
  div(class=admin ? 'visible' : 'invisible')
    a(href="/news/add") Add
  h1 Welcome to #{title}
  if allNews 
    each document in allNews
      div(class='news_document')
        a(href=`/news/delete/${document._id}` class=`admin_remover {admin ? 'visible' : 'invisible'}`) Delete
        h4= document.title 
        p= document.content 
  